rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/waiting_room {
      allow read, write;
    }

    match /rooms/{document=**} {
      allow read, write;
    }
  }
}