html, body {
    height: 100%;
}

body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.screen h1 {
    font-size: 12vw;
    line-height: 12vw;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
    .screen h4 {
        font-size: 4vw;
        line-height: 4vw;
        /* color: red; */
    }

    .screen h5 {
        font-size: 2vw;
        line-height: 2vw;
        /* color: blue; */
    }
}

a {
    color: #01871f;
    text-decoration: none;
}


div#videos > video {
    background: black;
    height: 100%;
}

.screen {
    grid-template-rows: auto fit-content(10%) fit-content(10%);
    justify-content: center;
    align-content: center;
    /* display: grid; TESTING PAGE ONLY */
    display: none;
    opacity: 0;
    min-height: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    /* border: 5px solid blue; */
}

#experience.screen {
    color: #000;
    justify-content: inherit;
}

#splash.screen {
    font-size: larger;
}

#splash.screen #credits {
    opacity: 0;
}

#intro-four.screen {
    gap: 5%;
}

#intro-four.screen nav,
#intro-four.screen #credits,
#intro-four.screen #disclaimer {
    opacity: 0;
}

#intro-four.screen .mdc-button--raised {
    background-color: rgba(0, 0, 0, 0.24);
}

.screen .warning {
    color: darksalmon;
}

/* Only if we need a subgrid?
#videos {
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
} */

video {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

#localVideo {
    filter: blur(3.35px) contrast(2.04) grayscale(1) ;
}

#remoteVideo {
    filter: invert(100%) blur(5px);
}

#projector {
    opacity: 0;
    display: block;
    /* TODO Need to calc this is JS per device */
    min-height: 80vh;
    margin-top: 5%;
    background-color: #ffff00;
    filter: blur(15px);
}

#buttons, #currentRoom {
    background-color: #fff;;
}

#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
}

button {
    margin: 0.2em 0.1em;
}


