html, body {
    height: 100%;
    background-color: black;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.screen h1 {
    font-size: 11vw;
    line-height: 11vw;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
    .screen h4 {
        font-size: 4vw;
        line-height: 4.5vw;
        /* color: red; */
    }

    .screen h5 {
        font-size: 2vw;
        line-height: 3vw;
        /* color: blue; */
    }

    .screen#intro-five p {
        font-size: 1.5vw;
        line-height: 2.5vw;
    }

    .screen#intro-five #disclaimer p {
        font-size: 1.2vw;
        line-height: 2.2vw;
    }

    button.mdc-button {
        padding: 32px;
        height: initial;
    }

    button.mdc-button .mdc-button__icon {
        font-size: 2vw;
        margin-right: 32px;
        height: initial;
    }

    button.mdc-button .mdc-button__label {
        font-size: 2vw;
    }
}

a {
    color: #65D17E;
    text-decoration: none;
}

mark {
    background-color: white;
    color: darksalmon;
    padding: 32px;
}

mark li, #schedule li {
    text-decoration: none;
    list-style-type: none;
}

div#videos > video {
    background: black;
    height: 100%;
}

.screen {
    grid-template-rows: auto fit-content(10%) fit-content(10%);
    justify-content: center;
    align-content: center;
    /* TESTING PAGE ONLY */
    /* display: grid; */
    display: none;
    opacity: 0;
    min-height: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
}

@media screen and (min-width: 1000px) {
    .screen {
        padding: 0px 128px 0px 128px;
    }
}

#experience.screen {
    color: #000;
    justify-content: inherit;
}

@media screen and (min-width: 1000px) {
    #experience.screen {
        padding: 0px;
    }
}

#splash.screen {
    font-size: larger;
}

#splash.screen #credits {
    opacity: 0;
}

#splash.screen mark {
    display: none;
    opacity: 0;
}

#splash.screen #schedule {
    display: none;
    opacity: 0;
}

#splash.screen ul {
    padding-left: 0px;
}

#intro-three.screen #headphones {
    opacity: 0;
    border: 1px dotted darksalmon;
    padding: 32px 16px 0px 16px;
}

@media screen and (min-width: 1000px) {
    #intro-three.screen #headphones {
        border-width: 4px;
        display: flex;
        justify-content: center;
        padding: 64px;
    }
}

#intro-three.screen #headphones img {
    color: darksalmon;
    margin-right: 0px;
}

@media screen and (min-width: 1000px) {
    #intro-three.screen #headphones img {
        margin-right: 48px;
    }
}

#intro-five.screen {
    gap: 5%;
}

#intro-four.screen nav,
#intro-five.screen nav,
#intro-five.screen #credits,
#intro-five.screen #disclaimer {
    opacity: 0;
}

.screen .warning {
    color: darksalmon;
}

video {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

#localVideo {
    filter: blur(3.35px) contrast(2.04) grayscale(1) ;
}

#remoteVideo {
    filter: invert(100%) blur(5px);
}

#projector {
    opacity: 0;
    display: block;
    min-height: 80vh;
    margin-top: 5%;
    background-color: #ffff00;
    filter: blur(15px);
}

#buttons, #currentRoom {
    background-color: #fff;;
}

#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
}



